"https://v6.exchangerate-api.com/v6/a713bfd46e59638c3a057e1c/latest/USD"

"https://v6.exchangerate-api.com/v6/a713bfd46e59638c3a057e1c/latest/EUR"

"https://v6.exchangerate-api.com/v6/a713bfd46e59638c3a057e1c/latest/BRL"